/* You can add global styles to this file, and also import other style files */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );
}

.left-side {
    width: 5em;
    background-color: grey;
    color: white;
}

.main-content {
    background-color: bisque;
}